<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
	<script src="/js/bundle.js" />
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>

<script id="startingData" type="application/json">
[
{"id": 1,
"ModelName":"NI 9411","InputChannels":6,"InputRange":"0V - 24V","InputType":"Sinking, Sourcing","MaximumInputClockRate":"2 MHz","Frontendconnector":"D-Sub","ConformalCoating":"Yes","Enclosure":"Yes","Price":395, "selected": "false"},
{"id": 2,"ModelName":"NI 9411","InputChannels":6,"InputRange":"0V - 24V","InputType":"Sinking, Sourcing","MaximumInputClockRate":"2 MHz","Frontendconnector":"D-Sub","ConformalCoating":"No","Enclosure":"Yes","Price":230, "selected": "false"},
{"id": 3,"ModelName":"NI 9421","InputChannels":8,"InputRange":"0V - 24V","InputType":"Sinking","MaximumInputClockRate":"10 kHz","Frontendconnector":"Spring Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":99, "selected": "false"},
{"id": 4,"ModelName":"NI 9421","InputChannels":8,"InputRange":"0V - 24V","InputType":"Sinking","MaximumInputClockRate":"10 kHz","Frontendconnector":"D-Sub","ConformalCoating":"Yes","Enclosure":"Yes","Price":267, "selected": "false"},
{"id": 5,"ModelName":"NI 9421","InputChannels":8,"InputRange":"0V - 24V","InputType":"Sinking","MaximumInputClockRate":"10 kHz","Frontendconnector":"Screw Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":99, "selected": "false"},
{"id": 6,"ModelName":"NI 9421","InputChannels":8,"InputRange":"0V - 24V","InputType":"Sinking","MaximumInputClockRate":"10 kHz","Frontendconnector":"D-Sub","ConformalCoating":"No","Enclosure":"Yes","Price":99, "selected": "false"},
{"id": 7,"ModelName":"NI 9422","InputChannels":8,"InputRange":"0V - 60V","InputType":"Sinking, Sourcing","MaximumInputClockRate":"4 kHz","Frontendconnector":"Screw Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":181, "selected": "false"},
{"id": 8,"ModelName":"NI 9423","InputChannels":8,"InputRange":"0V - 30V","InputType":"Sinking","MaximumInputClockRate":"1 MHz","Frontendconnector":"Spring Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":296, "selected": "false"},
{"id": 9,"ModelName":"NI 9423","InputChannels":8,"InputRange":"0V - 30V","InputType":"Sinking","MaximumInputClockRate":"1 MHz","Frontendconnector":"Screw Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":296, "selected": "false"},
{"id": 10,"ModelName":"NI 9425","InputChannels":32,"InputRange":"0V - 24V","InputType":"Sinking","MaximumInputClockRate":"140 kHz","Frontendconnector":"D-Sub","ConformalCoating":"Yes","Enclosure":"Yes","Price":515, "selected": "false"},
{"id": 11,"ModelName":"NI 9425","InputChannels":32,"InputRange":"0V - 24V","InputType":"Sinking","MaximumInputClockRate":"140 kHz","Frontendconnector":"D-Sub","ConformalCoating":"No","Enclosure":"Yes","Price":351, "selected": "false"},
{"id": 12,"ModelName":"NI 9425","InputChannels":32,"InputRange":"0V - 24V","InputType":"Sinking","MaximumInputClockRate":"140 kHz","Frontendconnector":"D-Sub","ConformalCoating":"No","Enclosure":"No","Price":351, "selected": "false"},
{"id": 13,"ModelName":"NI 9426","InputChannels":32,"InputRange":"0V - 24V","InputType":"Sourcing","MaximumInputClockRate":"140 kHz","Frontendconnector":"D-Sub","ConformalCoating":"Yes","Enclosure":"Yes","Price":515, "selected": "false"},
{"id": 14,"ModelName":"NI 9426","InputChannels":32,"InputRange":"0V - 24V","InputType":"Sourcing","MaximumInputClockRate":"140 kHz","Frontendconnector":"D-Sub","ConformalCoating":"No","Enclosure":"Yes","Price":351, "selected": "false"},
{"id": 15,"ModelName":"NI 9435","InputChannels":4,"InputRange":"0V - 250V","InputwType":"Sinking, Sourcing","MaximumInputClockRate":"333 Hz","Frontendconnector":"Spring Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":181, "selected": "false"},
{"id": 16,"ModelName":"NI 9435","InputChannels":4,"InputRange":"0V - 250V","InputType":"Sinking, Sourcing","MaximumInputClockRate":"333 Hz","Frontendconnector":"Screw Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":181, "selected": "false"},
{"id": 17,"ModelName":"NI 9437","InputChannels":8,"InputRange":"24V - 250V","InputType":"Sinking","MaximumInputClockRate":"1 MHz","Frontendconnector":"Screw Terminal","ConformalCoating":"Yes","Enclosure":"Yes","Price":409, "selected": "false"},
{"id": 18,"ModelName":"NI 9437","InputChannels":8,"InputRange":"24V - 250V","InputType":"Sinking","MaximumInputClockRate":"1 MHz","Frontendconnector":"Spring Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":255, "selected": "false"},
{"id": 19,"ModelName":"NI 9437","InputChannels":8,"InputRange":"24V - 250V","InputType":"Sinking","MaximumInputClockRate":"1 MHz","Frontendconnector":"Screw Terminal","ConformalCoating":"No","Enclosure":"Yes","Price":255, "selected": "false"}
]
</script> 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic&amp;subset=latin,greek,greek-ext,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/wrapper/css/main-structure.css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/wrapper/css/logo.css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/wrapper/css/navBar.css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/wrapper/css/cart.css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/wrapper/css/myAccount.css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/wrapper/css/global-gateway.css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/wrapper/css/search.css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/wrapper/css/footer.css">
<link rel="stylesheet" type="text/css" href="http://www.ni.com/niassets/css/ni.css">
<body>
