$color-nightly: #444;
$color-stars: #FFF;
$color-highlight: #3498DB;
$color-accent: #f4f4f4;
$color-success: #6AA239;

%primary-body-copy {
  font-size: 16px;
  line-height: 22px;
}

%secondary-body-copy {
  font-size: 13px;
  line-height: 17px;
}
