.TableContainer {
  max-width: 1100px;
  margin: 0 auto;
  
  &Right {
    max-width:750px;  
    overflow-x: auto;
  }
  
  &Left {
    
    //The box-shadow for this will likely have to be moved to a different
    //class for situations where it is only added when the table is
    //scrollable.
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: relative;
  }
}